:root {
  --fc-main: #f3ac3c;
  --fc-col1: #998235;
  --fc-col2: #1a4341;
}

body {
  margin: 0;
  padding: 0;
  background: var(--fc-main);
}

.big {
  position: absolute;
  background: var(--fc-col1);
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  transform: translate(8rem, 10rem);
}

.big-inner {
  background: var(--fc-col2);
  width: 1.5rem;
  height: 10rem;
  border-radius: 2rem;
  transform: translate(7rem, 7.5rem);
}

.bar {
  background: var(--fc-col2);
  height: 4rem;
  width: 35rem;
  transform: translate(33rem, 20rem);
}
.small {
  background: var(--fc-col2);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  transform: translate(28rem, 15.5rem);
  box-shadow: 0 0 0 1rem var(--fc-main), 0 0 0 7rem var(--fc-col1);
}

.con {
  padding: 0.5rem 0;
  background: var(--fc-col1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;
  width: 7rem;
  border-radius: 1rem;
  transform: translate(65rem, 9rem);
}

.con-bar {
  background: var(--fc-col2);
  width: 3.5rem;
  height: 0.6rem;
  border-radius: 1rem;
}
