:root {
  --clr-col1: #4caab3;
  --clr-col2: #222730;
  --clr-col3: #393e46;
}

body {
  margin: 0;
  background: var(--clr-col2);
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  margin-top: 10%;
  background: var(--clr-col1);
  width: 100%;
  height: 60%;
}

.diamond {
  transform: rotate(45deg);
  background: var(--clr-col1);
  width: 30vw;
  height: 60vh;
  box-shadow: 0 0 0 15vw var(--clr-col2);
}

.circle {
  background: var(--clr-col3);
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
