:root {
  --clr-col1: #09042a;
  --clr-col2: #e78481;
  --clr-col3: #f5bb9c;
}
html {
  font-size: 20%;
}
body {
  background: var(--clr-col1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90%;
}

.back {
  position: relative;
  width: 200rem;
  height: 60rem;
  background: #e78481;
  border-radius: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circle {
  width: 60rem;
  height: 60rem;

  border-radius: 50%;
}
.front {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80rem;
  height: 165rem;
}
.two {
  background: #09042a;
  box-shadow: 0 0 0 10rem #e78481;
  margin: 10rem;
}
.one {
  background: #f5bb9c;
  box-shadow: 0 0 0 10rem #09042a;
}

/*
.back {
  position: relative;
  width: 100%;
  height: 50%;
  background: var(--clr-col2);
  border-radius: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circle {
  border-radius: 50%;
}
.front {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}
.two {
  background: var(--clr-col1);
  box-shadow: 0 0 0 10rem var(--clr-col2);
  margin: 10rem;
  width: 25%;
  height: 80%;
}
.one {
  width: 100%;
  height: 35%;
  background: var(--clr-col3);
  box-shadow: 0 0 0 40rem var(--clr-col1);
} */
