:root {
  --clr-col1: #6592cf;
  --clr-col2: #060f55;
}

body {
  margin: 0;
  background: var(--clr-col1);
}
.container {
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.tines {
  width: 80%;
  height: 40%;
  display: flex;
  transform: translate(0, 6%);
}
.tine {
  background: var(--clr-col2);
  width: 20%;
  border-radius: 180px 180px 0 0;
}
.space {
  transform: translate(0, 10px);
  width: 20%;
  background: var(--clr-col1);
  border-radius: 0 0 10px 10px;
}
.neck {
  background: var(--clr-col2);
  width: 80%;
  height: 35%;
  transform: translate(0, 5%);
  border-radius: 0 0 500px 500px;
}
.handle {
  background: var(--clr-col2);
  width: 25%;
  height: 25%;
}
