:root {
  --fc-col1: #0b2429;
  --fc-col2: #f3ac3c;
  --fc-col3: #998235;
}

body {
  background: var(--fc-col1);
}

.wrapper {
  margin: auto;
  margin-top: 5%;
  width: 50%;
  height: 80vh;
}
.wrapper div {
  position: relative;
  width: 40%;
  height: 40vh;
  border-radius: 50% 0 50% 50%;
}

.one {
  background: var(--fc-col2);
  transform: rotate(180deg) translate(-120%);
}
.two {
  background: var(--fc-col3);
  transform: translate(70%, -50%);
}
.three {
  background: var(--fc-col2);
  transform: translate(20%, -100%);
}
